#footer {
    background-color: rgb(236, 188, 16);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.968), rgb(240, 190, 10), rgba(0, 0, 0, 0.968));
    padding: 15px;

}

#footer h4 {
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: black;
}

#footer p {
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: black;
}